#header {
    height: 75px;
    margin-bottom: 10px;
}

#navigation{
    float: left;
    width: 20%;
    margin-right: 1%;
    border: dotted;
    margin-bottom: 10px;
}

#content{
    float: right;
    width: 79%;
    border: dotted;
    margin-bottom: 10px;
}

#footer{

    border: dotted;
    height: 25px;
    width: 98%;
    clear: both;
}

img{
    height:80%;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
}



